/* 
RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
GENERAL
*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}
   
.flex-row{
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 100%;
    height: 100%;
}


/* 
HEADER
*/

header{
    background-color: #FF6900;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

header .flex-row{
    justify-content: space-between;
}

header .header-row > *{
    padding: 15px 0px;
    vertical-align: middle;
}

.header-logo{
    width: 120px;
}

header .header-row .header-symbols *{
    padding: 5px 5px;
}
header .header-row .header-categories *{
    padding: 5px 0px;
}

/* 
MAIN
*/

main{
    margin-bottom: 150px;
    margin-top: 80px;
}

main .main-row .single-product{
    width: calc((100% / 3) - 10px);
    /* height: 500px; */
}

main .main-row{
    justify-content: space-between;
}

main .main-row .single-product{
    margin-top: 30px;
}

main .main-row .single-product .image-content{
    width: 100%;
    height: 90%;
    position: relative;
}

.discounted-price{
    color: red;
    font-weight: 700;
}

.list-price{
    text-decoration: line-through;
}

.red-image-tag{
    color: white;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 40px;
    padding: 5px 10px;
}

.green-image-tag{
    color: white;
    background-color: green;
    position: absolute;
    left: 60px;
    bottom: 40px;
    padding: 5px 10px;
}

.green-image-tag.only-tag{
    left: 0px;
}

.wishlist{
    position: absolute;
    right: 0;
    top: 10px;
    padding: 5px 14px;
    font-size: 34px;
    background-color: white;
}

/* 
FOOTER
*/

footer{
    background-color: #1A1A1A;
    padding-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.footer-row{
    justify-content: space-between;
}

footer .footer-row .footer-info *{
    color: white;
}

footer .footer-row .footer-info h2{
    padding-bottom: 10px;
}

footer .footer-row .footer-info span:nth-child(3){
    padding: 0px 10px;
}

.footer-icons p{
    text-align: center;
    padding: 5px;
}

.footer-icons span{
    padding: 5px;
    font-size: 20px;
}

.footer-icons *{
    color: white;
}

/* 
DEBUG
*/

/*.debug .header-row{
    height: 80px; 
    width: 100%;
} */

/*.debug .header-row *{
    border: 1px dashed black;
} */
/* 
.debug main .main-row .single-product{
    background-color: aqua;
    border: 1px dashed black;
} */

/* .debug main .main-row .single-product .image-content{
    background-color: lightgoldenrodyellow;
    border: 1px dashed black;
} */

/* .debug main .main-row .single-product .image-content .wishlist{
    border: 1px dashed black;
} */

/* .debug footer{
    height: 100px;
}

.debug .footer-row *{
    background-color: aqua;
    border: 1px dashed black;
    /* width: 500px; */
} */
